{
	admin off
	persist_config off
	auto_https off # railway terminates TLS; enabling this breaks its proxy
	log {
		format console
	}
	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT} {
	log {
		format console
	}

	root * /srv
	encode gzip
	file_server
	try_files {path} /index.html
}
