@import "tailwindcss";

@theme {
  --font-mono: "SFMono-Regular", ui-monospace, Menlo, Consolas, monospace;
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, "Segoe UI", Helvetica, Arial,
    sans-serif;

  --color-app-bg: var(--app-bg);
  --color-app-fg: var(--app-fg);
  --color-app-hairline: var(--app-hairline);
  --color-app-border: var(--app-border);
  --color-app-surface-bg: var(--app-surface-bg);
  --color-app-surface-fg: var(--app-surface-fg);
  --color-app-surface-secondary-bg: var(--app-surface-secondary-bg);
  --color-app-surface-secondary-fg: var(--app-surface-secondary-fg);
  --color-app-error: var(--app-error);
  --color-app-button-bg: var(--app-button-bg);
  --color-app-button-bg-hover: var(--app-button-bg-hover);
  --color-app-button-bg-disabled: var(--app-button-bg-disabled);
  --color-app-button-fg: var(--app-button-fg);
}

:root {
  --app-bg: oklch(100% 0.00011 271.152);
  --app-fg: oklch(15.674% 0.00002 271.152);
  --app-hairline: oklch(88.994% 0.00216 14.621);
  --app-border: oklch(60% 0 0);

  --app-surface-bg: oklch(91.052% 0.00106 11.805);
  --app-surface-fg: oklch(23.929% 0.00003 271.152);
  --app-surface-secondary-bg: oklch(74.525% 0.00112 13.022);
  --app-surface-secondary-fg: oklch(0 0 0);

  --app-error: oklch(58.27% 0.23912 29.223);

  --app-button-bg: oklch(0.2 0 0);
  --app-button-bg-hover: oklch(0.35 0 0);
  --app-button-bg-disabled: oklch(0.85 0 0);
  --app-button-fg: oklch(0.97 0 0);
}

:root[data-theme="dark"] {
  --app-bg: oklch(18.22% 0.00002 271.152);
  --app-fg: oklch(0.92 0 0);
  --app-hairline: oklch(26.862% 0.00003 271.152);
  --app-border: oklch(55% 0 0);

  --app-surface-bg: oklch(26.448% 0.00003 271.152);
  --app-surface-fg: oklch(1 0 0);
  --app-surface-secondary-bg: oklch(41.283% 0.00005 271.152);
  --app-surface-secondary-fg: oklch(1 0 0);

  --app-error: oklch(71.751% 0.17635 22.546);

  --app-button-bg: oklch(0.95 0 0);
  --app-button-bg-hover: oklch(0.85 0 0);
  --app-button-bg-disabled: oklch(0.28 0 0);
  --app-button-fg: oklch(0.08 0 0);
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--app-bg);
  color-scheme: light dark;
}
